/* 
 * CSS for mypage.jsp
 * Will be added to the bootstrap.min.css
 * 
 */

.navbar {
	margin: 0px;
	border: 0px;
}

.navbar-inverse {
	background-color: #000;
	border-radius: 0px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
	background-color: #000;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #F05F40;
}

.btn {
	max-width: 290px;
}

.btn-black {
	color: #fff;
	background-color: #000;
}

.container-banner {
    background-color: black;
    color: white;
    text-align: middle;
}

/*
.container-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	
	background-image: linear-gradient(to right, #1c1c1c 0, #171717 100%);
	background-repeat: repeat-x;
}
*/

.sidebar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 200;

    background-color: #000;
 }

.sidebar ul,
.sidebar li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
    */
}

.sidebar ul :not(collapsed) .arrow:before,
.sidebar li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.sidebar ul .active,
.sidebar li .active {
	border-left: 3px solid #F05F40;
}

.sidebar li .active > a {
	color: #fff;
	font-weight: 400;
}


/* CSS for dropdown components */
/*
.sidebar ul .sub-menu li.active,
.sidebar li .sub-menu li.active {
  color: #d19b3d;
}
.sidebar ul .sub-menu li.active a,
.sidebar li .sub-menu li.active a {
  color: #d19b3d;
}

.sidebar ul .sub-menu li,
.sidebar li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.sidebar ul .sub-menu li:hover,
.sidebar li .sub-menu li:hover {
  background-color: #020203;
}
.sidebar ul .sub-menu li:before,
.sidebar li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
*/

.sidebar li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.sidebar li a {
	position: relative;
	padding: 15px;
	text-decoration: none;
	color: #919496;
}
.sidebar li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}
.sidebar li:hover {
	border-left: 3px solid #F05F40;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}


/* Content Section*/

.content-header {
	padding-bottom: 0;
	margin: 0;
	margin-bottom: 24px;
	border-bottom: 1px solid #efefef;
}

.content-header h1 {
	font-size: 26px;
	margin: .5em 0;
	color: #F05F40;
	font-weight: 400;
}

.profile {
	padding: 40px;
}

.form-group {
	margin-bottom: 0;
}

.control-label {
	color: #919496;
	font-weight: 400;
}

.form-control-static {
	padding-top: 2px;
	padding-botton: 17px;
	margin-bottom: 0;
	min-height: 40px;
	
	font-size: 14px;
	font-weight: 400;
}